.btn-site{
	display: inline-block;
	border: none;
	outline: none;
	background: none;
	text-decoration: none!important;
	transition: @transition-site;
    text-align: left;
	&:focus,
	&:hover{
		text-decoration: none!important;
	}
	&:focus{
		color: inherit;
	}
	&:before,
	&:after{
		transition: @transition-site;
	}

}
.btn-scarlet{
	background: @scarlet;
	color: @white;
	&:focus,
	&:hover{color: @white;}
	&:hover{		
		background: @brown;
	}
	&.active{
		background: @brown;
	}
}
.btn-consultation{
	display: block;
	width: 100%;
	text-align: left;
	padding: 0 12px;
	line-height: 48px;
}
.btn-search{
	&:before{
		font-family: @icon;
		content: @icon-search;
		display: block;
		width: 48px;
		line-height: 48px;
		font-size: 26px;
		text-align: center;
	}
}
.btn-basket{
	position: relative;
	&:before{
		font-family: @icon;
		content: @icon-basket;
		display: block;
		width: 48px;
		line-height: 48px;
		font-size: 26px;
		text-align: center;
	}
	._czr__count{
		position: absolute;
		background: @white-dark;
		color: @scarlet;
		width: 20px;
		line-height: 20px;
		font-size: 13px;
		text-align: center;    
		top: -10px;
		right: -10px;
	}
}
.btn-next{
	position: relative;
	padding-right: 40px;
	&:after{
		font-family: @icon;
		content: @icon-next;
		position: absolute;
		right: 0;
		top: 50%;  
		right: 10px;
		transform: translateY(-50%);  
    	font-size: 17px;
	}
	&:hover{
		&:after{right: 5px;}
	}
	&.active{
		&:after{
			content: @icon-expand;
		}
		&:hover{
			&:after{right: 10px;}
		}
	}
}
.btn-close{
	&:after{
		font-family: @icon;
		content: @icon-close;
		display: block; 
    	font-size: 20px;
    	line-height: 20px;
    	width: 20px;
    	text-align: center;
	}
}
.btn-add{
	&:after{
		font-family: @icon;
		content: @icon-plus;
		display: block;
    	font-size: 12px;
    	border: 1px solid;
    	border-radius: 50%;
    	width: 26px;
    	line-height: 24px;
    	text-align: center;
	}
	&.active{
		&:after{
			content: @icon-check;
			background: @scarlet;
			border-color: @scarlet;
			color: @white;
			font-size: 14px;
		}

	}
}
.btn-remove{
	&:after{
		font-family: @icon;
		content: @icon-minus;
		display: block;
    	font-size: 12px;
    	border: 1px solid;
    	border-radius: 50%;
    	width: 26px;
    	line-height: 24px;
    	text-align: center;
	}
}
.btn-order{
	display: inline-block;
	line-height: 48px;    
	padding-left: 15px;
    min-width: 125px;
}
.btn-white-line{
	display: inline-block;
	color: @white;
	border: 1px solid @white;
}
.btn-more{
	display: inline-block;
	font-size: 16px;
	line-height: 34px;
    padding-left: 10px;
    padding-right: 35px;
    font-family: @din-med;
    text-transform: uppercase;
    &:after{
    	font-size: 14px;
    }
}

._czr__btn-block{
	margin-left: -10px;
	margin-right: -10px;
	justify-content: space-between;
	flex-wrap: wrap;
	.cols{
		padding-left: 10px;
		padding-right: 10px;
		&._czr__bb__cols-news{width: 50%;}
		&._czr__bb__cols-cons{width: 78%;}
		&._czr__bb__cols-search{
			width: 22%;
			max-width: 68px;
		}
		&._czr__bb__cols-full{
			width: 100%;
			@media @media-size-xs {margin-top: 15px;}
		}
	} 
}
._apc__btn-block{
	.cols{
		&._czr__bb__cols-full,
		&._czr__bb__cols-news{
			@media @media-notsmart{
				width: 33%;
			}		
		}
	}
}